.crearMov{
    text-align: center;
    margin-bottom: 20px;
}

#th{
    border: solid black 1px;
    padding: 10px;
    text-align: center;
}

#td{
    border: solid black 1px;
    padding: 10px;
    text-align: center;
}